#Here you need to state what classes are registered to have version specific file
#My custom mod complier will then figure out with .java files it needs to copy for each version of MC to avoid compile errors

InitEvent
InitEventClient

BlockDogBathWrapper
BlockDogBedWrapper
BlockFoodBowlWrapper
ItemDogBedWrapper


ItemCommandEmblemWrapper
ItemDoggyCharmWrapper
ItemRadarWrapper
ItemThrowBoneWrapper
ItemTreatBagWrapper
ItemWoolCollarWrapper

GuiWrapper

EntityDogWrapper

GuiFactory
ClientMethods
GeneralMethods
StackUtil

TabDogBed
TabDoggyTalents

RegistrySubscriber
ModelBakeWrapper

RecipeDogBed
RecipeDogCollar
RecipeDogCape